body {
  background-color: rgb(0, 0, 0,0.1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, rgb(40, 43, 54) 0%, rgb(40, 43, 54) 50%, rgb(40, 43, 54) 100%);
  /* Vertical center */
  display: table-cell;
  vertical-align: middle;
}

.form-card {
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
}

.form-title { 
  font-size: 42px; 
  font-family: 'Avenir'; 
  font-weight: 800; 
  letter-spacing: 0.5px; 
  color: #e8e8e8; 
  padding-bottom: 12px; 
}

.form-subtitle {
  font-size: 18px;
  font-family: 'Avenir';
  letter-spacing: 0.5px;
  color: #afafaf;
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-family: Avenir;
  width: 100px;
}
.auth-input {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Avenir";
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 12px;
}
.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #fa541c;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "Avenir";
  cursor: pointer;
  transition: all .44s ease;
  -webkit-transition: all .44s ease;
  -moz-transition: all .44s ease;
}
.auth-button:hover { filter: brightness(145%); }

.chat-wrapper {
  height: 80vh; 
  width: 80%;
  margin-left: 10%; 
  color: white; 
  background: rgb(43, 47, 60);
}
.ce-my-message-body{
  background-color: #fa541c !important;    

}
.ce-message-list {
  background: rgb(40, 43, 54) !important;
}
.ce-active-chat-card {
  background-color: #fa541c!important;
  border-top-color: #fa541c !important;
  border-bottom-color: #fa541c !important;
  border-left-color: #fa541c !important;
  border-right-color: #fa541c !important;
  box-shadow: rgba(255, 109, 24, 0.35) 0px 2px 7px !important;
}
.ce-their-message-body {
  background-color: #fa541c !important;
}
.ce-chat-feed {
  background: rgb(0, 0, 0) !important;

}
.ce-custom-send-button {
  background-color: #fa541c !important;
  border-top-color: #fa541c !important;
  border-bottom-color: #fa541c !important;
  border-left-color: #fa541c !important;
  border-right-color: #fa541c !important;
  box-shadow: rgba(255, 109, 24, 0.35) 0px 2px 7px !important;
}
.ce-custom-message-input {
  background-color: rgb(40, 43, 54) !important;
  color: white !important;
  border-top-color: #fa541c !important;
  border-bottom-color: #fa541c !important;
  border-left-color: #fa541c !important;
  border-right-color: #fa541c !important;
  box-shadow: rgba(255, 109, 24, 0.35) 0px 2px 7px !important;
}